@use"../common";

header{
border-bottom: solid 1px var(--border-color);
position: sticky;
top: 0;
z-index: 50;
background-color: var(--background-color);

div.container>div{
    gap: 2rem;
}
   h3{
    margin: 0px;
    font-style: 1.25rem;
    font-weight: 700; 
    color: var(--primary-color);
    }
    nav{
    display: var(--nav-display);
    gap: 1.5rem;
    }
}