@use"./common";

header{
border-bottom: solid 1px var(--border-color);
position: sticky;
top: 0;
z-index: 50;
background-color: var(--background-color);

   h3{
    margin: 0px;
    font-style: 1.25rem;
    font-weight: 700; 
    color: var(--primary-color);
    }
nav{
    display: var(--nav-display);
    gap: 1.5rem;

    }
    div{
    display: flex;
    align-items: center;
    &.left{
        gap: 2rem;
    }
    &.right{
        gap: 0.5rem;

    }
    
    
    &.search{
        display: var(--search-bar-display);
        align-items: stretch;
        gap: 0;

        input{
            border-top-left-radius: 1rem;
            border-bottom-left-radius: 1rem;
            width: 200px;
            padding: 1rem 0.5rem 1rem 1rem ;
            border: none;
            background-color: var(--gray-color-100);

            &:focus{
                outline: none;
            }
        }

        button{
            border-top-right-radius: 1rem;
            border-bottom-right-radius: 1rem;
            background-color: var(--gray-color-100);
            @include common.buttonStyle;
        }
    }
}
     button{
        background-color: transparent;
        padding: 0.5rem;
        border: none;
        color: var(--text-color);
        cursor: pointer;
     }

}